<div class="container-fluid">
  <nav class= "navbar navbar-expand-lg navbar-dark">
    <a routerLink="/"><img class="navbar-brand" src="assets/logo.png"></a>
      <ul class="navbar-nav">
        <li>
          <app-search></app-search>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder">Join</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder" routerLink="/games">All games</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link h4 font-weight-bolder">Logout</a>-->
        <!--</li>-->
      </ul>
  </nav>
</div>
