<div class="container-fluid">
  <nav class= "navbar navbar-expand-lg navbar-dark">
    <a><img class="navbar-brand" src="assets/logo.png"></a>
      <ul class="navbar-nav">
        <li>
          <form class="search-field">
            <input type="text" class="textbox" placeholder="Title">
            <input title="Search" value="Search" type="submit" class="button">
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder">Join</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4 font-weight-bolder">All games</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link h4 font-weight-bolder">Logout</a>-->
        <!--</li>-->
      </ul>
  </nav>
</div>
